<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.bjtu.lwx.dao.QuestionDao">
	
	 	<insert id="insertByQuestion" useGeneratedKeys="true" keyProperty="questionid" parameterType="com.bjtu.lwx.po.QuestionPO" >
	 		insert into  wechatapp_question  (openid,questionTitle,questionContent,questionType,createTime,pageviews,answerNum)
	 		values(#{openid},#{questionTitle},#{questionContent},#{questionType},#{createTime},#{pageviews},#{answerNum})
	 	</insert>
	 	
	 	<update id="addPageviewsByQuestionid" parameterType="com.bjtu.lwx.po.QuestionPO" >
			update wechatapp_question q SET q.pageviews = #{pageviews}+1
			WHERE q.questionid= #{questionid}
	 	</update>
	 	
	 	<select id="getActionNum" parameterType="com.bjtu.lwx.po.QuestionPO" resultType="int">
			SELECT
				COUNT(q.questionid) as num
			FROM
				wechatapp_useraction a
			LEFT JOIN wechatapp_question q ON a.questionid = q.questionid
			WHERE
				a.openid = #{openid}
			AND q.questionType = #{questionType}
			and a.createTime > #{createTime} - 604800000
	 	</select>
	 	
	</mapper>
	
