<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.bjtu.lwx.dao.UserActionDao">
	
	 	<insert id="insertAction" parameterType="com.bjtu.lwx.po.UserActionPO" >
	 	insert into wechatapp_useraction (openid,questionid,actionname,createTime)
	 	values(#{openid},#{questionid},#{actionname},#{createTime})
	 	</insert>
	 	
	</mapper>
	