<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.bjtu.lwx.dao.WeatherDao">
	
	 	<select id="getEnNameByChName" parameterType="String" resultType="String">
	 		select enName from weather_api 

	 		where chName = #{chname}

	 	</select>
	 	
	</mapper>